@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito&display=swap");

/* || RESET */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea {
  font: inherit;
}

main {
  flex: 1;
}

/* || UTILITY CLASSES */

.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

#root {
  min-height: 100vh;
}

.client {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.client_top {
  display: flex;
  flex-flow: column;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .client_top {
    flex-flow: row;
    justify-content: space-between;
  }
}

/* || VARIABLES */

:root {
  /* FONTS */
  --FF: "Nunito", sans-serif;
  --FF-HEADINGS: "Fugaz One", cursive;
  --FS: clamp(0.5rem, 2.5vw, 2rem);
  --FS-CARD: clamp(1.5rem, 2.5vw, 2rem);

  /* COLORS */
  --BGCOLOR-FADE: #e33535cc;
  --BGCOLOR: rgba(255, 255, 255, 0.801);
  --BGIMAGE: linear-gradient(to bottom, var(--BGCOLOR), var(--BGCOLOR-FADE));
  --BODY-BGCOLOR: #fff;
  --BORDER-COLOR: #333;
  --BUTTON-COLOR: white;
  --FONT-COLOR: #000;
  --HEADER-BGCOLOR: rgba(228, 50, 50, 0.801);
  --HEADER-COLOR: white;
  --HERO-BGCOLOR: rgba(51, 178, 51, 0.75);
  --HERO-COLOR: rgba(228, 50, 50, 0.801);
  --HIGHLIGHT-COLOR: rgba(0, 0, 0, 0.668);
  --LINK-ACTIVE: #e43232cc;
  --LINK-COLOR: black;
  --LINK-HOVER: rgba(228, 50, 50, 0.801);
  --NAV-BGCOLOR: white;

  /* BORDERS */
  --BORDERS: 1px solid var(--BORDER-COLOR);
  --BORDER-RADIUS: 15px;

  /* STANDARD PADDING */
  --PADDING-TB: 0.25rem;
  --PADDING-SIDE: 2.5%;

  /* STANDARD MARGINE */
  --MARGIN: clamp(0.2rem, 0.5rem, 1rem);
}

/* || GENERAL STYLES */

html {
  scroll-behavior: smooth;
  font-size: var(--FS);
  font-family: var(--FF);
  background-color: var(--BGCOLOR);
  background-image: var(--BGIMAGE);
  min-height: 100%;
}

body {
  background-color: whitesmoke;
  color: var(--FONT-COLOR);
  min-height: 100vh;
  max-width: 100vw;
  margin: 0 auto;
  border-left: var(--BORDERS);
  border-right: var(--BORDERS);
  font-size: var(--FS);
}

h1,
h2,
h3 {
  font-family: var(--FF-HEADINGS);
  letter-spacing: 0.1em;
}

h2,
h3 {
  margin-bottom: 1em;
  color: var(--HIGHLIGHT-COLOR);
}

p {
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
