/* || ABOUT */

.about {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 0 0.5rem;
  margin-top: 30px;
}

.about_article {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: calc(90vw);
  border-radius: 50%;
  box-shadow: 2px 2px 4px var(--LINK-ACTIVE);
}

.about_article01_img {
  border: 1px solid var(--LINK-ACTIVE);
  box-shadow: 2px 2px 4px var(--LINK-ACTIVE);
  width: 90%;
  height: auto;
  margin: var(--PADDING-SIDE) var(--PADDING-TB);
}
.about_article h2,
.about_location h2 {
  width: 90%;
  font-size: 4em;
  margin: auto;
  margin-bottom: unset;
  margin-top: unset;
  text-shadow: 2px 2px 5px black;
  white-space: wrap;
  color: aliceblue;
}

.about_article p {
  font-size: 2rem;
  font-family: var(--FF);
  font-weight: bold;
  text-align: center;
  color: aliceblue;
  text-shadow: 1px 1px 2px black;
  width: 90%;
}

.about_article2 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: auto;
  font-size: 2rem;
}

.about_article2 h2 {
  font-size: 4rem;
  margin: auto;
  margin-bottom: unset;
  margin-top: unset;
  white-space: wrap;
  color: var(--LINK-ACTIVE);
  text-shadow: 2px 2px 2px black;
}

.about_article2 p {
  font-family: var(--FF);
  font-weight: bolder;
  text-align: center;
  color: rgb(0, 0, 0);
  letter-spacing: 0.1rem;
}

.about_location {
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  margin-bottom: 30px;
  width: 100%;
}

.about_location h2 {
  color: var(--LINK-ACTIVE);
  text-shadow: 2px 2px 2px black;
}

.about_location address {
  margin-top: 10px;
  font-size: 2rem;
}

@media screen and (min-width: 576px) {
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0;
    padding: 0 0.5rem;
    margin-bottom: 0.5rem;
  }

  .about .about_article:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
  }

  .about .about_article:nth-child(4) {
    grid-column: 1;
    grid-row: 2;
  }

  .about_article {
    min-height: 30vh;
    height: 100%;
    width: auto;
    font-size: 1rem;
    border-radius: unset;
  }

  .about_article2 {
    width: 100%;
    height: auto;
    font-size: 0.8rem;
    padding: 0.8rem;
  }

  .about_article2 h2,
  .about_article2 p {
    width: 100%;
    margin: unset;
    text-align: left;
  }

  .about_location {
    display: none;
  }
  .about h2 {
    font-size: 1.5em;
  }
  .about p {
    font-size: 0.8em;
  }
}
