/* || ABOUT */

.about {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 0.5rem;
  margin-top: 30px;
}

.about_article {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.about_article01_img {
  border: 1px solid var(--LINK-ACTIVE);
  box-shadow: 2px 2px 4px var(--LINK-ACTIVE);
  width: 90%;
  height: auto;
  margin: var(--PADDING-SIDE) var(--PADDING-TB);
}
.about_article h2,
.about_location h2 {
  width: 100%;
  font-size: 2em;
  margin: auto;
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px var(--BGCOLOR-FADE);
  white-space: nowrap;
}

.about_article p {
  font-size: 2rem;
  font-family: var(--FF-HEADINGS);
}

.about_location {
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  margin-bottom: 30px;
  width: 100%;
}

.about_location address {
  margin-top: 10px;
  font-size: 1em;
  font-family: var(--FF);
}

@media screen and (min-width: 768px) {
  .about h2 {
    font-size: 1.5em;
  }
  .about p {
    font-size: 0.8em;
  }
}
