.footer {
  position: sticky;
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: 10%;
  max-height: 5vh;
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  border-top: 1px solid black;
  background-color: var(--HEADER-BGCOLOR);
  font-size: 1.2vmax;
  z-index: 3;
}

.footerInfo {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  gap: 1rem;
}

.footerInfo a:first-child {
  display: none;
}

.footerInfo a {
  text-decoration: none;
  color: black;
}

.footerInfo a svg {
  margin-bottom: -4px;
}

@media screen and (min-width: 576px) {
  .footer {
    font-size: 1vmax;
    gap: 0.2rem;
    flex-flow: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .footerInfo a:first-child {
    display: inline-block;
  }

  .footer {
    flex-flow: row-reverse;
    justify-content: space-between;
    width: 100%;
    padding: 0.2rem;
    height: 6vh;
  }
}
