.footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: auto;
    width: 100%;
    padding: var(--PADDING-SIDE) var(--PADDING-TB);
    border-top: 1px solid black;
    background-color: var(--LINK-ACTIVE);
    font-size: 1.5rem;
}

.footerInfo {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    gap: 1rem;
}

.footerInfo a {
    text-decoration: none;
    color: black;
}

.footerInfo a svg {
    margin-bottom: -4px;
}

@media screen and (min-width: 576px) {
    .footer {
        font-size: 1.2rem;
    }    
}

@media screen and (min-width: 768px) {
    .footer {
        font-size: 1rem;
        flex-flow: row;
    }
}

@media screen and (min-width: 992px) {
    .footer {
        font-size: 0.5rem;
        flex-flow: row-reverse;
        justify-content: space-between;
    }
}