/* HEADER */

.header {
  background-color: var(--HEADER-BGCOLOR);
  border-bottom: var(--BORDERS);
  text-align: center;
  position: relative;
  font-size: 1.7rem;
}

.header__logo {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.header__logo a {
  text-decoration: none;
  color: black;
}

.header__h1 {
  text-shadow: 1px 1px 1px white;
}

.header__h1::before,
.header__h1::after {
  content: " 🐂 ";
}

.header p {
  font-weight: 900;
}

@media screen and (min-width: 576px) {
  .header {
    font-size: 0.7rem;
  }

  .header__logo {
    padding-left: 0.5rem;
  }
}

@media screen and (min-width: 992px) {
  .header {
    display: flex;
    flex-flow: row;
    font-size: 0.5rem;
    width: 50%;
    align-items: flex-start;
  }

  .header__logo {
    padding-left: 1rem;
  }
}
