/* HEADER */

.header {
  width: 100%;
  height: auto;
  background-color: var(--HEADER-BGCOLOR);
  border-bottom: var(--BORDERS);
  text-align: center;
  position: relative;
  font-size: 2.5rem;
}

.header__logo {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.header__logo a {
  text-decoration: none;
  color: black;
  width: 100%;
}

.header__h1 {
  text-shadow: 1px 1px 1px white;
  letter-spacing: 1rem;
}

.header p {
  font-weight: 900;
}

@media screen and (min-width: 576px) {
  .header {
    font-size: 0.7rem;
  }

  .header__logo {
    padding-left: 0.5rem;
  }
}

@media screen and (min-width: 992px) {
  .header {
    display: flex;
    flex-flow: row;
    font-size: 0.5rem;
    width: 60%;
    align-items: flex-start;
    height: 9vh;
  }

  .header__logo {
    padding: 0.1rem 0.5rem 0.1rem 1rem;
    margin-top: unset;
    width: 100%;
  }

  .header__h1 {
    letter-spacing: 0.5rem;
  }
}
