.order {
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-size: 1.5rem;
}

.order__table {
    border-spacing: 10px;
    border-collapse: collapse;
}

.order button {
    color: var(--BUTTON-COLOR);
    font-weight: bold;
    margin-bottom: 5px;
}

.buyerInfo {
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: auto auto auto auto;
    column-gap: 10%;
    row-gap: 10px;
}

tbody td {
    text-align: center;
    padding: 5px 0;
}

tbody tr {
    border-bottom: 1px solid black;
}

tfoot td,
thead th,
thead tr {
    padding: 10px 0;
    text-align: center;
    font-weight: bolder;
    font-size: 1.1em;
}

tfoot tr,
thead tr {
    border-bottom: var(--BORDERS);
}

.orderButtons {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 10px 0;
}

.buyerInfo_Form {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    margin-bottom: 2px;
}

.buyerInfo__email {
    grid-column-start: 1;
    grid-column-end: 3;
}

.emptyMessage {
    text-align: center;
    margin-top: 30vh;
}

.buyResOk {
    text-align: center;
    margin-top: 20vh;
}

@media screen and (min-width: 992px) {
    .order {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        font-size: 0.5rem;
    }

    .buyerInfo {
        width: 45%;
    }

    .order__table {
        width: 45%;
    }

    .emptyMessage {
        font-size: 1rem;
    }
}