/* || PRODUCTS LIST */

.products-list {
  background-color: whitesmoke;
  display: grid;
  align-content: flex-start;
  justify-content: center;
  grid-template-columns: repeat(1, 48% 48%);
  gap: 0.5rem;
  overflow: auto;
  height: 100%;
  min-height: 100%;
  width: auto;
  min-width: 100%;
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  text-align: center;
}

.homeList {
  background-color: whitesmoke;
  display: grid;
  align-content: flex-start;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(1, 48% 48%);
  gap: 2%;
  height: auto;
  min-height: 48rem;
  width: auto;
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  text-align: center;
}

.loading_client {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / -1;
  padding: 1rem;
  min-height: 48rem;
  width: 100%;
}

.noProducts {
  width: 70%;
  font-size: 2em;
  padding: 0.25rem 2.5%;
  margin: 5px auto;
  white-space: nowrap;
  text-shadow: 2px 2px 5px var(--BGCOLOR-FADE);
  text-align: center;
  margin-top: 25vh;
  opacity: 0;
  animation: fadeIn 0.8s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (min-width: 576px) {
  .products-list {
    grid-template-columns: repeat(3, 30%);
    gap: 3%;
  }

  .homeList {
    grid-template-columns: repeat(4, 23%);
    gap: 2%;
    min-height: 14rem;
  }

  .loading_client {
    min-height: 14rem;
  }
}

@media screen and (min-width: 768px) {
  .products-list {
    grid-template-columns: repeat(4, 23%);
    gap: 2%;
    padding: 0.2rem 0rem;
  }

  .homeList {
    min-height: 13rem;
  }

  .loading_client {
    min-height: 13rem;
  }
}

@media screen and (min-width: 992px) {
  .products-list {
    grid-template-columns: repeat(2, 23% 23%);
    gap: 1%;
    padding: 0.2rem 0.2rem;
  }

  .noProducts {
    font-size: 1.5rem;
  }

  .products-list form {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .products-list {
    grid-template-columns: repeat(5, 19%);
    gap: 1%;
  }

  .homeList {
    grid-template-columns: repeat(4, 19%);
    gap: 1%;
  }
}
