.products {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.products__arrow {
  position: absolute;
  top: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  height: 20px;
  width: 20px;
}

.sideNav {
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  height: 100%;
  width: 200px;
  left: 0;
  top: 0;
  border-right: var(--BORDERS);
  padding: var(--PADDING-SIDE) var(--PADDING-TB);
  font-size: 2.9vmax;
  background-color: var(--HEADER-BGCOLOR);
  z-index: 1;
  font-weight: bold;
}

.sideNav_h3 {
  border-bottom: var(--BORDERS);
  grid-column: 1 / 2;
  width: 100%;
  font-size: 2.9vmax;
}

.sideNav_h3:hover {
  cursor: pointer;
}

.sideNav_h3 h3 {
  padding: var(--PADDING-TB);
  margin-bottom: 0;
}

.sideNav h3:hover,
.sideNav h3:active,
.sideNav h3:hover {
  color: whitesmoke;
  cursor: pointer;
}

.sideNav__ul {
  list-style: none;
  grid-column: 1 / 2;
  width: 100%;
}

.sideNav__li {
  border-bottom: var(--BORDERS);
  width: 100%;
}

.sideNav__p {
  padding: 0.4rem 0.4rem;
  width: 100%;
}

.sideNav__p:hover,
.sideNav__p:active,
.sideNav__p:hover {
  background-color: whitesmoke;
  cursor: pointer;
  box-shadow: 2px 2px 10px whitesmoke;
}

.sideNav_arrow {
  position: absolute;
  top: 30vh;
  right: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 50px;
}

.sideNav_arrow svg {
  height: 100%;
  width: auto;
  fill: var(--HEADER-BGCOLOR);
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
  .products {
    position: static;
    display: grid;
    grid-template-columns: repeat(1, 1fr 5fr);
    grid-auto-rows: 100% auto 75px;
    align-items: start;
    gap: 0.5rem;
  }

  .sideNav {
    position: static;
    font-size: 1.5vmax;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
  }

  .sideNav_h3 {
    font-size: 1.5vmax;
  }

  .sideNav h3:hover,
  .sideNav h3:active,
  .sideNav h3:hover {
    color: var(--LINK-HOVER);
    cursor: pointer;
  }

  .sideNav__p:hover,
  .sideNav__p:active,
  .sideNav__p:hover {
    background-color: var(--LINK-HOVER);
    cursor: pointer;
    box-shadow: 2px 2px 10px var(--LINK-HOVER);
  }

  .sideNav__p {
    padding: 0.2rem 0.2rem;
  }

  .sideNav_arrow {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .sideNav {
    font-size: 0.7rem;
  }
}
