.adminMain {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  width: 100%;
  min-height: 100vh;
}

.adminLogInSection {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 50vh;
  font-size: 1.7rem;
}

.adminLogIn {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.adminLogIn_submit {
  background-color: var(
    --LINK-ACTIVE
  ); /* Change to your preferred background color */
  color: #fff; /* Text color */
  border: none;
  padding: 5px 10px; /* Adjust padding for desired button size */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer;
  font-size: 15px; /* Adjust font size */
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.adminLogIn_submit:hover {
  background-color: #333; /* Change to a slightly darker shade on hover */
}

.nav__admin {
  top: 0;
  width: 100%;
  max-height: 6vh;
  background-color: aliceblue;
  box-shadow: 0px 1px 2px 0px black;
  font-weight: bold;
  position: sticky;
  z-index: 2;
  display: flex;
  flex-flow: row;
  justify-content: center;
  font-size: 1.8rem;
}

.nav__ul {
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.link__nav a {
  display: block;
  padding: 0.2rem 0.5rem;
  text-align: center;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

.link__nav a:hover,
.link__nav a:focus,
.link__nav a:active {
  background-color: var(--LINK-ACTIVE);
}

.link__nav__dropdown:active,
.link__nav__dropdown:focus,
.link__nav__dropdown:hover {
  box-shadow: 2px 2px 5px var(--LINK-ACTIVE);
  cursor: pointer;
}

.nav__admin a,
.nav__admin li {
  text-decoration: none;
  color: black;
  max-height: 100%;
}

.link__nav_logOut {
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  border-bottom: var(--BORDERS);
  border-left: var(--BORDERS);
  border-right: var(--BORDERS);
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.link__nav_logOut:hover,
.link__nav_logOut:focus,
.link__nav_logOut:active {
  background-color: var(--LINK-ACTIVE);
  cursor: pointer;
}

.loading {
  min-height: 70vh;
}

.adminPro {
  max-height: 94vh;
  min-width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  margin-top: 1vh;
}

.adminPro h1 {
  max-height: 7vh;
}

.adminPro_delete {
  align-self: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  width: 70%;
  top: 33vh;
  height: auto;
  background-color: rgba(240, 248, 255, 0.8);
  border: 1px solid black;
  padding: 0.5rem 0.5rem;
  z-index: 1;
  font-size: 2rem;
}

.adminPro_delete p {
  padding: 0.5rem 0.5rem;
}

.adminPro_delete_buttons {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 50%;
  padding: 0.5rem 0.5rem;
}

.adminPro_delete_buttons button {
  padding: 0.2rem 1rem;
}

.adminProSearch {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  width: 90%;
  margin-bottom: 1rem;
  gap: 1;
  max-height: 7vh;
  font-weight: bold;
}

.adminProSearch_Input {
  width: 70%;
}

.message {
  background-color: aliceblue;
  position: absolute;
  width: 90vw;
  left: 5vw;
  top: 20vh;
  padding: 1rem 1rem;
  font-size: 3rem;
  text-align: center;
  border-radius: var(--BORDER-RADIUS);
  border: 1px solid black;
}

.messageButton {
  position: absolute;
  border-radius: 50%;
  padding: 0.4rem 0.9rem;
  font-size: 2rem;
  right: 3px;
  top: -5rem;
  background-color: red;
  border: 1px solid black;
}

.messageButton svg {
  margin-bottom: -0.3rem;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.adminPro__table {
  max-width: 90%;
  max-height: 80vh;
  width: 90%;
  border: 1px solid black;
  text-align: center;
  border-spacing: 10px;
  border-collapse: collapse;
}

.adminPro__thead {
  max-height: 5vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  border-bottom: 1px solid black;
  white-space: nowrap;
}

.adminPro__thead p {
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

.adminPro__tbody {
  max-height: 70vh;
  overflow-y: scroll;
  position: relative;
}

.adminPro__tbody__tr {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.adminPro__tbody__tr p {
  padding: var(--PADDING-TB);
  text-align: center;
}

.adminPro__tbody__tr div {
  padding: var(--PADDING-TB);
  display: flex;
  justify-content: center;
}

.adminPro__tbody__tr_delete {
  background-color: rgba(255, 0, 0, 0.574);
  padding: 0.1rem 0.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.adminPro__tbody__tr_delete:hover,
.adminPro__tbody__tr_delete:focus,
.adminPro__tbody__tr_delete:active {
  background-color: #333;
  color: aliceblue;
}

.adminPro__tbody__tr__img {
  background-color: #3498db;
  color: #fff;
  padding: 0.1rem 0.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.adminPro__tbody__tr_img:hover,
.adminPro__tbody__tr_img:focus,
.adminPro__tbody__tr_img:active {
  background-color: #333;
  color: aliceblue;
}

.adminPro__tfoot {
  display: flex;
  flex-flow: row;
  justify-content: center;
  max-height: 5vh;
  padding: 0.5rem 1rem;
  border-top: 1px solid black;
}

.adminPro__tfoot button:first-child {
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  font-weight: bold;
  font-size: 0.6rem;
}

.adminPro__input {
  max-width: 2rem;
  text-align: center;
}

.adminPro__tbody td {
  padding: 10px 5px;
  text-align: center;
  white-space: nowrap;
}

.adminPro__thead th {
  white-space: nowrap;
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  text-align: center;
}

.adminProImg {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  width: 100%;
  max-width: 100%;
  height: auto;
  font-size: 0.8rem;
  border: 1px solid #ddd;
  background-color: aliceblue;
}

.adminProImgSrc {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 0;
  max-width: 52%;
}

.adminProImgSrc_img {
  min-height: 100px;
  min-width: 36%;
  max-height: 100px;
  width: auto;
  align-self: center;
  border: 1px solid black;
}

.adminProImg input,
.adminProImg label {
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  white-space: normal;
  text-align: center;
}

.adminProImg label {
  font-weight: bold;
}

.adminProImg_img {
  max-width: 48%;
  height: auto;
}

.adminProImg_close {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: right;
  padding: 0.5rem 0.5rem;
  font-size: 1.5rem;
}

.adminProImgSrcLabelAndClose {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
}

.adminProImg_XButton {
  position: absolute;
  left: 3px;
  margin-top: 3px;
  width: 30px;
  height: 30px;
  background-color: #e74c3c; /* Red color */
  border: none;
  border-radius: 50%;
  color: #fff; /* White text color */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid black;
}

.adminProImg_RemoveButton {
  margin-right: 0.6rem;
  padding: 0.05rem 0.2rem;
  border: none;
  border-radius: 5%;
  font-size: 0.6rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid black;
}

.adminProImg_XButton:hover,
.adminProImg_XButton:focus,
.adminProImg_XButton:active {
  background-color: #c0392b; /* Darker red on hover */
}

.adminProImg_RemoveButton:hover,
.adminProImg_RemoveButton:focus,
.adminProImg_RemoveButton:active {
  background-color: #abcdef; /* Darker red on hover */
}

.show-img {
  visibility: visible;
}

.link__nav__dropdown:hover,
.link__nav__dropdown:focus,
.link__nav__dropdown:active {
  background-color: var(--LINK-ACTIVE);
}

.link__nav__dropdown {
  position: relative;
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  border-bottom: var(--BORDERS);
  border-left: var(--BORDERS);
  border-right: var(--BORDERS);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  visibility: hidden;
  display: flex;
  position: absolute;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  padding: var(--PADDING-TB) 0;
  background-color: aliceblue;
  box-shadow: 0px 1px 2px 0px var(--LINK-ACTIVE);
  top: 99%;
  min-width: 100%;
  text-align: center;
}

.visible {
  visibility: visible;
}

.dropdown__li {
  white-space: nowrap;
  padding: var(--PADDING-TB) 0;
  width: 100%;
}

.dropdown__li:hover,
.dropdown__li:focus,
.dropdown__li:active {
  background-color: var(--LINK-ACTIVE);
}

.dropdown:first-child {
  border-bottom: var(--BORDERS);
}

.addProducts h2 {
  margin-top: 1rem;
  text-align: center;
  font-size: 3rem;
}

.addProForm {
  display: grid;
  justify-content: center;
  column-gap: 5%;
  row-gap: 30px;
  padding: var(--PADDING-SIDE) var(--PADDING-TB);
  margin-top: 1rem;
}

.imgForm {
  display: flex;
  flex-flow: column;
  text-align: center;
}

.imgForm label {
  font-size: 2.5rem;
}

.imgForm input[type="file"] {
  border-top: var(--BORDERS);
  padding-top: var(--PADDING-SIDE);
  border-bottom: var(--BORDERS);
  padding-bottom: var(--PADDING-SIDE);
  font-size: 1.5rem;
  white-space: normal;
  text-align: center;
}

.addButton {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
}

.addButton button {
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.addProForm input {
  width: 90vw;
  font-size: 3rem;
}

.adminOrd {
  max-width: 100%;
  min-width: 100%;
  max-height: 94vh;
  min-height: 94vh;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.1rem;
}

.adminOrd__title {
  max-height: 6vh;
  min-height: 6vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.adminOrd__title h1 {
  font-size: 4vh;
}

.adminOrd__table {
  display: flex;
  flex-flow: column;
  max-width: 90%;
  width: 90%;
  max-height: 88vh;
  border: 1px solid black;
  text-align: center;
  border-spacing: 10px;
  border-collapse: collapse;
}

.adminOrd__input {
  max-width: 3rem;
  text-align: center;
}

.status-true {
  background-color: rgba(0, 128, 0, 0.574);
  cursor: pointer;
}

.status-true:hover,
.status-true:focus,
.status-true:active {
  background-color: rgba(0, 128, 0, 0.8);
}

.status-false {
  background-color: rgba(255, 0, 0, 0.574);
  cursor: pointer;
}

.status-false:hover,
.status-false:focus,
.status-false:active {
  background-color: rgba(255, 0, 0, 0.8);
}

.adminOrd__thead {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  border-bottom: 1px solid black;
  white-space: nowrap;
}

.adminOrd__thead p {
  white-space: nowrap;
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  text-align: center;
  font-weight: bolder;
}

.adminOrd__tbody {
  max-height: 80vh;
  overflow-y: scroll;
  position: relative;
}

.adminOrd__tbody_td {
  padding: 10px 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  border-bottom: 1px solid black;
  white-space: nowrap;
  font-weight: bold;
}

.adminOrd .adminOrd_td {
  padding: 0;
}

.adminOrdDis {
  border: 1px solid black;
  left: 0;
  right: 0;
  top: 0;
  background-color: aliceblue;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
}

.adminOrdDis__ButtonTop {
  display: flex;
  justify-content: flex-end;
}

.adminOrdDis__ButtonTop button {
  margin-top: 5px;
  margin-right: 5px;
  min-width: 1.5rem;
}

.adminOrdDis__head {
  display: flex;
  flex-flow: row;
  gap: 1rem;
  justify-content: space-evenly;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  border-bottom: 1px solid black;
}

.adminOrdDis__products {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  font-size: 1.5rem;
  padding: 1rem 1rem;
}

.adminOrdDis__products h2 {
  padding: 0 1rem 1rem 1rem;
  margin-bottom: 0;
}

.product {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  gap: 2rem;
  justify-items: center;
  padding: 0 1rem;
}

.done {
  grid-template-columns: repeat(2, 50%);
  gap: 0rem;
}

.product button {
  background-color: aliceblue;
  border: none;
  width: 2rem;
  height: 2rem;
}

.productTitle {
  font-size: 1em;
  white-space: wrap;
}

.resize {
  font-size: 0.4rem;
  white-space: wrap;
}

.ordResize {
  font-size: 0.7rem;
  white-space: wrap;
}

.adminOrdDis_message {
  font-size: 1rem;
  left: 0;
  right: 0;
  bottom: 0;
  position: inherit;
  padding: 1rem 1rem 1rem 1rem;
  border-top: 1px solid black;
}

.adminOrdDis__ButtonBottom {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  margin: 20px 20vw 20px 20vw;
}

.adminOrdDis__ButtonBottom button {
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.adminOrdDis__ButtonBottom :first-child {
  background-color: green;
}

.adminOrdDis__ButtonBottom :last-child {
  background-color: red;
}

.adminStats {
  min-height: 90vh;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  padding: 0.5rem;
  font-size: 2rem;
}

.checked p:first-child {
  text-decoration: line-through;
  font-weight: bold;
  color: green;
}

.adminStats h2 {
  color: var(--LINK-ACTIVE);
  margin-bottom: 0;
}

.adminStats__revenueByDay__controls,
.adminStats__revenueByMonth__controls,
.adminStats__revenueByYear__controls {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  gap: 1rem;
}

.adminStats__buttons {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0.5rem;
}

.adminStats__buttons button {
  padding: 0.2rem 0.7rem;
  font-weight: bold;
  font-size: 1.2rem;
  border: 1px solid black;
  border-radius: 1rem;
}

.adminStats__revenueByDay__buttons,
.adminStats__revenueByMonth__buttons,
.adminStats__revenueByYear__buttons {
  display: flex;
  flex-flow: row;
  gap: 1rem;
  justify-content: flex-end;
  padding: 0.5rem;
}

.adminStats__revenueByDay__buttons button,
.adminStats__revenueByMonth__buttons button,
.adminStats__revenueByYear__buttons button {
  padding: 0.2rem 0.7rem;
  font-size: 1.2rem;
  border: 1px solid black;
  border-radius: 1rem;
}

.adminStats__revenueByDay__buttons button:hover,
.adminStats__revenueByDay__buttons button:focus,
.adminStats__revenueByDay__buttons button:active,
.adminStats__revenueByMonth__buttons button:hover,
.adminStats__revenueByMonth__buttons button:focus,
.adminStats__revenueByMonth__buttons button:active,
.adminStats__revenueByYear__buttons button:hover,
.adminStats__revenueByYear__buttons button:focus,
.adminStats__revenueByYear__buttons button:active {
  background-color: var(--LINK-ACTIVE);
}

.adminStats__buttons button:hover,
.adminStats__buttons button:focus,
.adminStats__buttons button:active {
  background-color: var(--LINK-ACTIVE);
}

.adminStats__revenueByDay,
.adminStats__revenueByMonth,
.adminStats__revenueByYear {
  width: 100%;
  height: auto;
  border: 1px solid black;
  color: var(--LINK-ACTIVE);
  padding: 0.5rem;
}

#revenueByDayChart {
  width: 90%;
  height: auto;
}

.adminStats__productsSales {
  width: 100%;
  height: auto;
  border: 1px solid black;
  color: var(--LINK-ACTIVE);
  padding: 0.5rem;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.productStats,
.adminsStats__productsSales__sortControls {
  display: grid;
  grid-template-columns: 0.5fr 2fr 3fr;
  gap: 1rem;
  width: 100%;
}

.productStats {
  text-align: left;
}

.adminsStats__productsSales__sortControls {
  text-align: right;
}

.productStats__title {
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

.productStats__numbers,
.adminStats__prductsSales__buttons {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
}

.adminStats__prductsSales__buttons button {
  border-radius: 1rem;
  padding: 0.2rem 0.7rem;
}

.adminStats__prductsSales__buttons button:hover,
.adminStats__prductsSales__buttons button:focus,
.adminStats__prductsSales__buttons button:active {
  background-color: #3288e4cc;
}

.sortActive {
  background-color: #3288e4cc;
}

.productStats__quantity,
.productStats__revenue {
  font-size: 2rem;
  font-weight: bold;
}

.productStats__revenue {
  color: black;
}

@media screen and (min-width: 576px) {
  .message {
    font-size: 1.5rem;
  }

  .messageButton {
    font-size: 1.5rem;
    top: -3.5rem;
  }

  .nav__admin {
    font-size: 1rem;
  }

  .adminPro_delete {
    font-size: 1.5rem;
  }

  .adminLogInSection {
    font-size: 1.3rem;
  }

  .adminLogIn_submit {
    font-size: 1rem;
  }

  .adminProImgSrc_img {
    min-height: 6.2rem;
    max-height: 6.2rem;
  }
}

@media screen and (min-width: 768px) {
  .message {
    font-size: 1rem;
    top: 30vh;
  }

  .messageButton {
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
    top: -2.5rem;
  }

  .messageButton svg {
    margin-bottom: -0.2rem;
  }

  .adminOrd {
    font-size: 0.8rem;
  }

  .adminPro_delete {
    font-size: 1.5rem;
  }

  .adminPro h1 {
    font-size: 1rem;
  }

  .adminPro__tfoot button:first-child {
    padding: 0 var(--PADDING-SIDE);
  }

  .adminPro__tfoot {
    padding: 0.2rem 0.5rem;
  }

  .adminLogInSection {
    font-size: 0.8rem;
  }

  .adminLogIn_submit {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 992px) {
  .adminLogInSection {
    height: 100vh;
  }

  .adminPro {
    font-size: 0.5rem;
  }

  .adminPro__tbody {
    position: relative;
  }

  .adminProImg {
    font-size: 0.6rem;
  }

  .adminMain {
    width: 100%;
  }

  .adminOrd {
    font-size: 0.5rem;
  }

  .adminOrdDis {
    width: 100%;
  }

  .adminOrdDis_message {
    font-size: 1rem;
    left: 0;
    right: 0;
    bottom: 0;
    position: inherit;
    padding: 1rem 1rem 1rem 1rem;
    border-top: 1px solid black;
  }

  .adminOrdDis__head {
    font-size: 0.7rem;
  }

  .adminOrdDis__products {
    font-size: 0.7rem;
    gap: 0.3rem;
    min-height: 50%;
  }

  .product {
    margin-left: 15vw;
    margin-right: 15vw;
  }

  .product button {
    width: 1rem;
    height: 1rem;
  }

  .adminOrdDis__ButtonBottom button {
    font-size: 0.5rem;
  }

  .addProducts {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .addProducts h2 {
    font-size: 1rem;
  }

  .addProForm {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
  }

  .addProForm input {
    font-size: 0.7rem;
    width: auto;
  }

  .adminProSearch {
    font-size: 0.5rem;
    flex-flow: row;
    justify-content: center;
    gap: 0.5rem;
  }

  .adminProSearch_Input {
    width: 30%;
  }

  .imgForm {
    grid-column: 1 / 3;
    align-items: center;
    white-space: nowrap;
  }

  .imgForm label {
    font-size: 1rem;
  }

  .imgForm input[type="file"] {
    font-size: 0.5rem;
    padding: 0.2rem;
    width: auto;
  }

  .addButton {
    font-size: 0.6rem;
    grid-column: 1 / 3;
  }

  .addButton button {
    padding: 0.2rem 1rem;
  }

  .message {
    font-size: 0.7rem;
    top: 30vh;
    width: 50vw;
    z-index: 1;
    left: 25vw;
  }

  .messageButton {
    font-size: 0.7rem;
    padding: 0.1rem 0.3rem;
    top: -1.5rem;
  }

  .messageButton svg {
    margin-bottom: -0.1rem;
  }

  .adminPro_delete {
    font-size: 0.7rem;
    width: 50%;
  }

  .adminPro_delete_buttons button {
    padding: 0.1rem 0.5rem;
  }

  .adminPro h1 {
    align-self: end;
    margin-right: 2rem;
  }

  .adminProSearch {
    justify-content: right;
  }

  .adminPro__tfoot button:first-child {
    font-size: 0.5rem;
  }

  .adminProImg_XButton {
    left: unset;
    right: 0.2rem;
  }

  .ordResize {
    font-size: 0.6rem;
  }

  .adminMain {
    display: grid;
    grid-template-columns: 10% 90%;
  }

  .nav__admin {
    border-right: var(--BORDERS);
    height: 100vh;
    max-height: 100vh;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.7rem;
  }

  .nav__ul {
    flex-flow: column;
    width: 100%;
    gap: 0.5rem;
  }

  .link__nav,
  .link__nav__dropdown,
  .link__nav_logOut {
    border: var(--BORDERS);
    border-radius: 1rem;
  }

  .link__nav_logOut {
    position: absolute;
    bottom: 0.5rem;
    width: 95%;
  }

  .dropdown {
    top: 0;
    left: 100%;
    gap: 0.5rem;
  }

  .dropdown__li {
    display: flex;
    justify-content: center;
    padding: unset;
  }

  .dropdown__li:hover,
  .dropdown__li:focus,
  .dropdown__li:active {
    background-color: unset;
  }

  .dropdown__li a {
    border: 1px solid black;
    border-radius: 1rem;
    width: 90%;
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
  }

  .dropdown__li a:hover,
  .dropdown__li a:focus,
  .dropdown__li a:active {
    background-color: var(--LINK-ACTIVE);
  }

  .adminLogInSection {
    width: 100vw;
  }
}
