.adminLogInSection {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 50vh;
  font-size: 1.7rem;
}

.adminLogIn {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.adminLogIn_submit {
  padding: 0 1rem;
}

.nav__admin {
  top: 0;
  background-color: aliceblue;
  border-bottom: var(--BORDERS);
  font-weight: bold;
  position: sticky;
  z-index: 2;
  padding-top: var(--PADDING-TB);
  padding-bottom: var(--PADDING-TB);
}

.nav__ul {
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  list-style-type: none;
  display: flex;
  justify-content: right;
  gap: 1rem;
}

.link__nav a {
  display: block;
  padding: 0.2rem 0.5rem;
}

.link__nav:hover,
.link__nav:focus,
.link__nav:active {
  background-color: var(--LINK-ACTIVE);
}

.link__nav__dropdown:active,
.link__nav__dropdown:focus,
.link__nav__dropdown:hover {
  box-shadow: 2px 2px 5px var(--LINK-ACTIVE);
  cursor: pointer;
}

.nav__admin a,
.nav__admin li {
  text-decoration: none;
  color: black;
  font-size: 1.7rem;
}

.link__nav_logOut {
  padding: 0.2rem 0.5rem;
  border-bottom: var(--BORDERS);
  border-left: var(--BORDERS);
  border-right: var(--BORDERS);
}

.adminPro {
  max-width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.adminPro_delete {
  align-self: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  width: 70%;
  top: 33vh;
  height: auto;
  background-color: rgba(240, 248, 255, 0.800);
  border: 1px solid black;
  padding: 0.5rem 0.5rem;
  z-index: 1;
  font-size: 2rem;
}

.adminPro_delete p {
  padding: 0.5rem 0.5rem;
}

.adminPro_delete_buttons {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 50%;
  padding: 0.5rem 0.5rem;
}

.adminPro_delete_buttons button {
  padding: 0.2rem 1rem;
}

.adminProSearch {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  width: 90%;
  margin-bottom: 1rem;
  gap: 1;
  font-size: 1.5rem;
}

.adminProSearch_Input {
  width: 70%;
  
}

.message {
  background-color: aliceblue;
  position: absolute;
  width: 90vw;
  left: 5vw;
  top: 20vh;
  padding: 1rem 1rem;
  font-size: 3rem;
  text-align: center;
  border-radius: var(--BORDER-RADIUS);
  border: 1px solid black;
}

.messageButton {
  position: absolute;
  border-radius: 50%;
  padding: 0.4rem 0.9rem;
  font-size: 2rem;
  right: 3px;
  top: -5rem;
  background-color: red;
  border: 1px solid black;
}

.messageButton svg {
  margin-bottom: -0.3rem;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.adminPro__table {
  max-width: 90%;
  width: 90%;
  border: 1px solid black;
  text-align: center;
  border-spacing: 10px;
  border-collapse: collapse;
}

.adminPro__input {
  max-width: 3rem;
  text-align: center;
}

.adminPro__tbody td {
  padding: 10px 5px;
  text-align: center;
  white-space: nowrap;
}

.adminPro__thead th {
  white-space: nowrap;
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  text-align: center;
}

.adminProImg {
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 80vw;
  height: auto;
  top: 20vh;
  left: 10vw;
  font-size: 1.5rem;
  z-index: 1;
  border: 1px solid black;
  border-radius: var(--BORDER-RADIUS);
  background-color: aliceblue;
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.adminProImg input,
.adminProImg label {
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  white-space: normal;
  text-align: center;
}

.adminProImg label {
  font-weight: bold;
}

.adminProImg img {
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  border: 1px solid black;
}

.adminProImg_close {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: right;
  padding: 0.5rem 0.5rem;
  font-size: 1.5rem;
}

.adminProImg_close button {
  padding: 0.2rem 0.5rem;
  background-color: red;
  color: black;
}

.show-img {
  visibility: visible;
}

.link__nav__dropdown:hover,
.link__nav__dropdown:focus,
.link__nav__dropdown:active {
  background-color: var(--LINK-ACTIVE);
}

.link__nav__dropdown {
  position: relative;
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  border-bottom: var(--BORDERS);
  border-left: var(--BORDERS);
  border-right: var(--BORDERS);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  display: flex;
  position: absolute;
  flex-flow: column;
  width: auto;
  font-size: 1rem;
  gap: 0.2rem;
  list-style-type: none;
  background-color: var(--LINK-ACTIVE);
  border: var(--BORDERS);
  box-shadow: 2px 2px 5px var(--LINK-ACTIVE);
  top: 2.8rem;
  min-width: 100%;
  text-align: center;
}

.dropdown li {
  white-space: nowrap;
  padding: var(--PADDING-SIDE) var(--PADDING-TB);
  width: 100%;
  border-collapse: collapse;
}

.dropdown li:hover,
.dropdown li:focus,
.dropdown li:active {
  background-color: white;
}

.dropdown:first-child {
  border-bottom: var(--BORDERS);
}

.addProducts h2 {
  margin-top: 1rem;
  text-align: center;
  font-size: 3rem;
}

.addProForm {
  display: grid;
  justify-content: center;
  column-gap: 5%;
  row-gap: 30px;
  padding: var(--PADDING-SIDE) var(--PADDING-TB);
  margin-top: 1rem;
}

.imgForm {
  display: flex;
  flex-flow: column;
  text-align: center;
}

.imgForm label {
  font-size: 2.5rem;
}

.imgForm input[type="file"] {
  border-top: var(--BORDERS);
  padding-top: var(--PADDING-SIDE);
  border-bottom: var(--BORDERS);
  padding-bottom: var(--PADDING-SIDE);
  font-size: 1.5rem;
  white-space: normal;
  text-align: center;
}

.addButton {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
}

.addButton button {
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.addProForm input {
  width: 90vw;
  font-size: 3rem;
}

.adminOrd {
  max-width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

.adminOrd__table {
  max-width: 90%;
  width: 90%;
  border: 1px solid black;
  text-align: center;
  border-spacing: 10px;
  border-collapse: collapse;
}

.adminOrd__input {
  max-width: 3rem;
  text-align: center;
}

.adminOrd__tbody td {
  padding: 10px 5px;
  text-align: center;
  white-space: nowrap;
}

.adminOrd__thead th {
  white-space: nowrap;
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  text-align: center;
}

.adminOrd .adminOrd_td {
  padding: 0;
}

.adminOrdDis {
  border: 1px solid black;
  left: 0;
  right: 0;
  top: 0;
  background-color: aliceblue;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
}

.adminOrdDis__ButtonTop {
  display: flex;
  justify-content: flex-end;
}

.adminOrdDis__ButtonTop button {
  margin-top: 5px;
  margin-right: 5px;
  min-width: 1.5rem;
}

.adminOrdDis__head {
  display: flex;
  flex-flow: row;
  gap: 1rem;
  justify-content: space-evenly;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  border-bottom: 1px solid black;
}

.adminOrdDis__products {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  font-size: 1.5rem;
  padding: 1rem 1rem;
}

.adminOrdDis__products h2 {
  padding: 0 1rem 1rem 1rem;
  margin-bottom: 0;
}

.product {
  display: grid;
  grid-template-columns: repeat(3, 33%);  
  gap: 2rem;
  justify-items: center;
  padding: 0 1rem;
}

.product button {
  background-color: aliceblue;
  border: none;
  width: 2rem;
  height: 2rem;
}

.productTitle {
  font-size: 1em;
  white-space: wrap;
}

.resize { 
  font-size: 0.5rem;
  white-space: wrap;
}

.adminOrdDis_message {
  font-size: 1rem;
  left: 0;
  right: 0;
  bottom: 0;
  position: inherit;
  padding: 1rem 1rem 1rem 1rem;
  border-top: 1px solid black;
}

.adminOrdDis__ButtonBottom {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  margin: 20px 20vw 20px 20vw;
}

.adminOrdDis__ButtonBottom button {
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.adminOrdDis__ButtonBottom :first-child {
  background-color: green;
}

.adminOrdDis__ButtonBottom :last-child {
  background-color: red;
}

.adminStats {
  height: 90vh;
  width: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.checked p:first-child {
  text-decoration: line-through;
  font-weight: bold;
  color: green;
}

@media screen and (min-width: 576px) {
  .message {
    font-size: 1.5rem;
  }

  .messageButton {
    font-size: 1.5rem;
    top: -3.5rem;
  }

  .adminPro_delete {
    font-size: 1.5rem;
  }
  
}

@media screen and (min-width: 768px) {
  .message {
    font-size: 1rem;
    top: 30vh;
  }

  .messageButton {
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
    top: -2.5rem
  }

  .messageButton svg {
    margin-bottom: -0.2rem;
  }

  .adminPro_delete {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  .adminLogInSection {
    font-size: 0.5rem;
    height: 100vh;
  }

  .adminPro {
    font-size: 0.5rem;
  }

  .adminPro__tbody {
    position: relative;
  }

  .adminProImg {
    left: 10%;
  }

  .nav__admin a,
  .nav__admin li {
    font-size: 0.5rem;
  }

  .adminMain {
    width: 100%;
  }

  .adminOrd {
    font-size: 0.5rem;
  }

  .adminOrdDis {
    width: 100%;
  }

  .adminOrdDis_message {
    font-size: 1rem;
    left: 0;
    right: 0;
    bottom: 0;
    position: inherit;
    padding: 1rem 1rem 1rem 1rem;
    border-top: 1px solid black;
  }

  .adminOrdDis__head {
    font-size: 0.7rem;
  }

  .adminOrdDis__products {
    font-size: 0.7rem;
    gap: 0.3rem;
    min-height: 50%;
  }

  .product {
    margin-left: 15vw;
    margin-right: 15vw;
  }
  
  .product button {
    width: 1rem;
    height: 1rem;
  }

  .adminOrdDis__ButtonBottom button {
    font-size: 0.5rem;
  }

  .dropdown {
    top: 1.21rem;
  }

  .addProducts {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .addProducts h2 {
    font-size: 1rem;
  }

  .addProForm {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
  }

  .addProForm input {
    font-size: 0.7rem;
    width: auto;
  }

  .adminProSearch {
    font-size: 0.5rem;
    flex-flow: row;
    justify-content: center;
    gap: 0.5rem;
  }
  
  .adminProSearch_Input {
    width: 30%;
  }

  .imgForm {
    grid-column: 1 / 3;
    align-items: center;
    white-space: nowrap;
  }

  .imgForm label {
    font-size: 1rem;
  }
  
  .imgForm input[type="file"] {
    font-size: 0.5rem;
    padding: 0.2rem;
    width: auto;
  }

  .addButton {
    font-size: 0.6rem;
    grid-column: 1 / 3;
  }

  .addButton button {
    padding: 0.2rem 1rem;
  }

  .message {
    font-size: 0.7rem;
    top: 30vh;
    width: 50vw;
    z-index: 1;
    left: 25vw;
  }

  .messageButton {
    font-size: 0.7rem;
    padding: 0.1rem 0.3rem;
    top: -1.5rem
  }

  .messageButton svg {
    margin-bottom: -0.1rem;
  }

  .adminPro_delete {
    font-size: 0.7rem;
    width: 50%;
  }

  .adminPro_delete_buttons button {
    padding: 0.1rem 0.5rem;
  }
}
