/* HEADER */

.header {
    background-color: var(--HEADER-BGCOLOR);
    border-bottom: var(--BORDERS);
    text-align: center;
    position: relative;
}

.header__h1 {
    text-shadow: 1px 1px 1px white;
}

.header__h1::before,
.header__h1::after {
    content: " 🐂 ";
}

.header p {
    font-weight: 900;
}

.bucket {
    background-color: #333333f7;
    color: aliceblue;
    position: absolute;
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    top: 5px;
    right: 20px;
    width: auto;
    height: auto;
    border: 2px solid var(--HEADER-BGCOLOR);
    border-radius: 2px;
}

.bucket__table {
    padding: var(--PADDING-SIDE) var(--PADDING-TB);
    border-spacing: 10px;
}

.bucket__button {
    top: 4px;
    right: 4px;
    position: absolute;
    width: 2rem;
    height: auto;
}

.bucket__button svg {
    margin-top: 0.2rem;
}

.bucket__button:hover,
.bucket__button:active {
    background-color: var(--LINK-HOVER);
}


@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {}


@media screen and (min-width: 992px) {

    .header {
        font-size: 0.5rem;
    }

}