/* || NAV */

.nav {
    top: 0;
    background-color: aliceblue;
    border-bottom: var(--BORDERS);
    font-weight: bold;
    position: sticky;
    z-index: 2;
}

.nav ul {
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    list-style-type: none;
    display: flex;
    justify-content: right;
    gap: 1rem;
}

.nav a {
    text-decoration: none;
    color: black;
}

.nav__input {
    width: 7rem;
}

.nav li {
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    border-bottom: var(--BORDERS);
    border-left: var(--BORDERS);
    border-right: var(--BORDERS);
}

.link__nav:hover,
.link__nav:focus,
.link__nav:active {
    background-color: var(--LINK-ACTIVE);
}

.nav_bucket {
    padding: 0;
}

.nav_bucket button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: auto;
}

.nav_bucket:hover {
    background-color: var(--LINK-ACTIVE);
}

.bucket {
    background-color: #333333f7;
    color: aliceblue;
    position: absolute;
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    bottom: -1;
    width: 100vw;
    height: auto;
    border: 2px solid var(--HEADER-BGCOLOR);
    border-radius: 2px;
    z-index: 1;
    font-size: 1.5em;
}

.bucket div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bucket__table {
    padding: var(--PADDING-SIDE) var(--PADDING-TB);
    border-spacing: 10px;
    width: 100%;
}

.bucket button {
    color: var(--BUTTON-COLOR);
    font-weight: bold;
    margin-bottom: 5px;
}

.bucket__tbody tr td:first-child {
    text-align: left;
}

.bucket__tbody tr td:last-child {
    text-align: right;
}

.clear {
    border-radius: var(--BORDER-RADIUS);
    padding: 0.25rem;
    background-color: rgba(255, 0, 0, 0.918);
}

.clear:hover,
.clear:focus {
    background-color: rgba(255, 0, 0, 0.600);
}

.send {
    border-radius: var(--BORDER-RADIUS);
    padding: 0.25rem;
    background-color: rgba(0, 128, 0, 0.918);
}

.send:hover,
.send:focus {
    background-color: rgba(0, 128, 0, 0.600);
}

.delete {
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
}

.delete svg {
    margin-top: 0.2rem;
}

.delete:hover,
.delete:focus {
    background-color: rgba(255, 0, 0, 0.918);
}

.bucket__button svg {
    margin-top: 0.2rem;
}

@media screen and (min-width: 576px) {
    .bucket {
        right: 2px;
        width: 25rem;
        font-size: 1rem;
    }

    .bucket div {
        justify-content: space-evenly;
    }

}

@media screen and (min-width: 768px) {

    .bucket {
        width: 15rem;
        font-size: 0.5rem;
    }

    .delete {
        height: 2em;
        width: 2em;
    }

    .nav {
        font-size: 0.7rem;
    }
}


@media screen and (min-width: 992px) {


    .nav {
        font-size: 0.23rem;
    }


}